USE [master]
GO
/****** Object:  Database [DAI-Personaje]    Script Date: 1/6/2022 10:36:40 ******/
CREATE DATABASE [DAI-Personaje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAI-Personaje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-Personaje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAI-Personaje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-Personaje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI-Personaje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI-Personaje]
GO
/****** Object:  User [alumno]    Script Date: 1/6/2022 10:36:40 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 1/6/2022 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[IdPelicula] [int] NOT NULL,
	[Imagen] [nchar](255) NULL,
	[Titulo] [nchar](255) NULL,
	[FechaCreacion] [date] NULL,
	[Calificacion] [int] NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 1/6/2022 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] NOT NULL,
	[Imagen] [nchar](255) NULL,
	[Nombre] [nchar](255) NULL,
	[Edad] [int] NULL,
	[Peso] [int] NULL,
	[Historia] [nchar](255) NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonajesXPeliculas]    Script Date: 1/6/2022 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonajesXPeliculas](
	[IdPersonaje] [int] NOT NULL,
	[IdPelicula] [int] NOT NULL,
 CONSTRAINT [PK_PersonajesXPeliculas] PRIMARY KEY CLUSTERED 
(
	[IdPersonaje] ASC,
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PersonajesXPeliculas] ([IdPersonaje], [IdPelicula]) VALUES (1, 1)
INSERT [dbo].[PersonajesXPeliculas] ([IdPersonaje], [IdPelicula]) VALUES (2, 2)
INSERT [dbo].[PersonajesXPeliculas] ([IdPersonaje], [IdPelicula]) VALUES (3, 3)
GO
ALTER TABLE [dbo].[PersonajesXPeliculas]  WITH CHECK ADD  CONSTRAINT [FK_PersonajesXPeliculas_Peliculas1] FOREIGN KEY([IdPelicula])
REFERENCES [dbo].[Peliculas] ([IdPelicula])
GO
ALTER TABLE [dbo].[PersonajesXPeliculas] CHECK CONSTRAINT [FK_PersonajesXPeliculas_Peliculas1]
GO
ALTER TABLE [dbo].[PersonajesXPeliculas]  WITH CHECK ADD  CONSTRAINT [FK_PersonajesXPeliculas_Personaje] FOREIGN KEY([IdPersonaje])
REFERENCES [dbo].[Personaje] ([Id])
GO
ALTER TABLE [dbo].[PersonajesXPeliculas] CHECK CONSTRAINT [FK_PersonajesXPeliculas_Personaje]
GO
/****** Object:  StoredProcedure [dbo].[sp_Ej4_listo]    Script Date: 1/6/2022 10:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Ej4_listo]
@Id int
AS
BEGIN
select * from dbo.Peliculas 
            INNER JOIN dbo.PersonajesXPeliculas on dbo.PersonajesXPeliculas.IdPelicula = dbo.Peliculas.IdPelicula
            INNER JOIN dbo.Personaje on dbo.Personaje.Id = dbo.PersonajesXPeliculas.IdPersonaje
            where dbo.Peliculas.IdPelicula = @Id
END
exec sp_Ej4_listo @Id = 1
	
GO
USE [master]
GO
